@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

.balancecontent{
    width: 200px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 40px;
    background: rgba(255, 255, 255, 0.116);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255,255,255,0.12);
    position: fixed;
    top: 20px;
    left: 80%;
    z-index: 1000;
    opacity: 0;
    transform: translateY(40px);
    animation: show .8s ease forwards;
    p{
        font-family:'Poppins',sans-serif;
    }
}

@media(max-width:768px){
    .balancecontent{
        width: 120px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        border-radius: 40px;
        background: rgba(255, 255, 255, 0.116);
        backdrop-filter: blur(10px);
        border: 1px solid rgba(255,255,255,0.12);
        position: fixed;
        top: 90%;
        left: 5%;
        z-index: 1000;
        opacity: 0;
        transform: translateY(40px);
        animation: show .8s ease forwards;
        p{
            font-family:'Poppins',sans-serif;
        }
    }

}