.docs{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 25px;
    opacity: 0;
    opacity: 0;
    transform: translateY(40px);
    animation: show .8s ease forwards;

}


.documents{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
    
  h2{
    position: fixed;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 120px;
}
}



.doc{
    padding:35px;
    text-align:center;
    border-radius:22px;
    background:rgba(255,255,255,.05);
    border:1px solid rgba(255,255,255,.08);
    backdrop-filter:blur(20px);
    cursor:pointer;
    transition:.3s;
    min-width: 180px;
    height: 100px;
    scroll-snap-align: start;
}

.doc:hover{
    transform:translateY(-8px);
    background:rgba(46,255,119,.12);
}



body {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--foreground);
  background:
    radial-gradient(
      circle at 10% 5%,
      #30ad30,
      transparent 25%
    ),
    radial-gradient(
      circle at 80% 70%,
      rgba(59, 246, 131, 0.25),
      transparent 40%
    ),
    #233F2D;

  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media(max-width:768px){
  .docs{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 25px;
    opacity: 0;
    opacity: 0;
    transform: translateY(40px);
    animation: show .8s ease forwards;
}

.documents{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 250px;
    
  h2{
    position: fixed;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 120px;
}
}


}