.docs{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 25px;
    overflow-x: auto;
    padding: 20px 0;
    opacity: 0;
    transform: translateY(40px);
    animation: show .8s ease forwards;
    scroll-snap-type: x mandatory;
}

.docs::-webkit-scrollbar{
    height: 10px;
}

.docs::-webkit-scrollbar-track{
    background: rgba(255,255,255,.05);
}

.docs::-webkit-scrollbar-thumb{
    background: rgba(46,255,119,.45);
    border-radius: 999px;
}

.documents{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 120px;
}

.documents h2{
    margin-bottom: 40px;
}

.doc{
    padding:35px;
    text-align:center;
    border-radius:22px;
    background:rgba(255,255,255,.05);
    border:1px solid rgba(255,255,255,.08);
    backdrop-filter:blur(20px);
    cursor:pointer;
    transition:.3s;
    min-width: 180px;
    height: 100px;
    scroll-snap-align: start;
}

.doc:hover{
    transform:translateY(-8px);
    background:rgba(46,255,119,.12);
}



body {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--foreground);
  background:
    radial-gradient(
      circle at 10% 5%,
      #30ad30,
      transparent 25%
    ),
    radial-gradient(
      circle at 80% 70%,
      rgba(59, 246, 131, 0.25),
      transparent 40%
    ),
    #233F2D;

  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}