.emailvalidator{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 60px;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    h2{
    text-align: center;
    font-size: 42px;
    margin-bottom: 50px;
    }
}

.emailcontent{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 60px;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.formemail{
    border: 1px solid rgba(255,255,255,.08);
    border-radius: 16px;
    background: rgba(255,255,255,.05);
    backdrop-filter: blur(15px);
    padding: 70 100 70 100;
}

.chekedemail{
    width: 260px;
    padding: 16px 20px;
    border: 1px solid rgba(255,255,255,.08);
    border-radius: 16px;
    background: rgba(255,255,255,.05);
    backdrop-filter: blur(15px);
    color: white;
    outline: none;
    font-size: 16px;
    transition: .3s;
}

.emailbtn{
    padding:16px 28px;
    border:none;
    border-radius:16px;
    background:#38ff80;
    color:black;
    font-size:16px;
    font-weight:600;
    cursor:pointer;
    transition:.3s;
}
.error{
    font-family:'Poppins',sans-serif;
}
.success{
        font-family:'Poppins',sans-serif;
}

@media (max-width: 768px) {

.formemail{
    border: 1px solid rgba(255, 255, 255, 0);
    border-radius: 16px;
    background: rgba(255, 255, 255, 0);
    backdrop-filter: blur(15px);
}

}