@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
.famil{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 200px;   
    
}

.sphereimg{
    width: 70%;
    
}

.famil h2 {
    font-size: 45px;
    margin-top: 25px;
}

.famil p {
    color: rgb(218, 217, 217);
    font-size: 20px;
    margin-top: 25px;
}

.startreg{
    width: 110px;
    height: 50px;
    background: rgba(255, 255, 255, 0.322);
    border: 1px solid white;
    outline: none;
    color: white;
    border-radius: 35px;
    font-family:'Poppins',sans-serif;
    font-size: 14px;
    margin-top: 25px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    &:hover{
        cursor: pointer;
        background: white;
        color: black;
        transition:.2s all ease ;
    }
    
}
.startdoc{
    width: 110px;
    height: 50px;
    background: rgba(0, 0, 0, 0.5);
    border: 1px solid rgb(0, 0, 0);
    outline: none;
    color: white;
    border-radius: 35px;
    font-family:'Poppins',sans-serif;
    font-size: 14px;
    margin-left: 25px;
    margin-top: 25px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    
    &:hover{
        cursor: pointer;
        background: rgb(0, 0, 0);
        color: white;
        transition:.2s all ease ;
    }
}

@media (max-width:768px){

    .sphereimg{
        display: none;
    }
    
    .famil{
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: space-around;
        text-align: center;
        h2{
            font-size: 30px;
            margin-top: 25px;
        }
        p{
            color: rgb(218, 217, 217);
            font-size: 15px;
            margin-top: 25px;
        }
    }


    .contentfamil{
        display: flex;
        align-items: center;
        justify-content: center;
    }

}