.home{
    min-height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:40px;
    opacity: 0;
    transform: translateY(40px);
    animation: show .8s ease forwards;
   h1{
     margin-top: 250px;
   }

}


.subtitle{
    margin-top:75px;
    color:#bcbcbc;
    margin-bottom:55px;

}

