@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

.passStoragePage{
    min-height: 100vh;
    padding: 120px 80px;
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: center;
    opacity: 0;
    transform: translateY(40px);
    animation: show .8s ease forwards;
}

.formstorage{
    border: 1px solid rgba(255,255,255,.08);
    border-radius: 16px;
    background: rgba(255,255,255,.05);
    backdrop-filter: blur(15px);
    padding: 70 40 70 40;
}

.passStoragePage h2{
    text-align: center;
    font-size: 42px;
    margin-bottom: 50px;
}

.passStoragePage form{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 60px;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.passStoragePage input{
    width: 260px;
    padding: 16px 20px;
    border: 1px solid rgba(255,255,255,.08);
    border-radius: 16px;
    background: rgba(255,255,255,.05);
    backdrop-filter: blur(15px);
    color: white;
    outline: none;
    font-size: 16px;
    transition: .3s;
    
}

.passStoragePage input::placeholder{
    color:#bdbdbd;
}

.passStoragePage input:focus{
    border-color:#38ff80;

}

.createstoragebtn{
    padding:14px 25px;
    border:none;
    border-radius:16px;
    background:#38ff80;
    color:black;
    font-size:16px;
    font-weight:600;
    cursor:pointer;
    transition:.3s;
}

.deletestorage{
    padding:3% 2%;
    width: 45%;
    border:none;
    border-radius:16px;
    background:#38ff80;
    color:black;
    font-size:16px;
    font-weight:600;
    cursor:pointer;
    transition:.3s;
    margin: 0 10 0 10;
}
.copypass{
    padding:3% 2%;
    border:none;
    width: 45%;
    border-radius:16px;
    background:#38ff80;
    color:black;
    font-size:16px;
    font-weight:600;
    cursor:pointer;
    transition:.3s;
}

.storagebuttons{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.passStoragePage button:hover{
    transform:translateY(-3px);
    background:white;
}

.showpassword{
    padding:3% 2%;
    border:none;
    width: 45%;
    border-radius:16px;
    background:#38ff80;
    color:black;
    font-size:16px;
    font-weight:600;
    cursor:pointer;
    transition:.3s;
}

.storages{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    max-width:1300px;
    margin:0 auto;
}

.passItem{
    padding:30px;
    border-radius:25px;
    background:rgba(255,255,255,.05);
    border:1px solid rgba(255,255,255,.08);
    backdrop-filter:blur(20px);
    transition:.35s;
    min-height:180px;
    min-width: 250px;
    text-align: center;
    display:flex;
    flex-direction:column;
    justify-content:center;
}

.passItem:hover{
    transform:translateY(-8px);
    cursor: pointer;
}

.passItem h3{
    font-size:26px;
    margin-bottom:18px;
}

.passItem p{
    color:#38ff80;
    word-break:break-word;
    font-size:20px;
    margin-bottom: 10px;
}

@media (max-width: 768px) {

    .passStoragePage {
        padding: 100px 20px 60px;
    }

    .passStoragePage h2 {
        font-size: 32px;
        margin-bottom: 35px;
    }

    .storages {
        grid-template-columns: 1fr;
        gap: 20px;
        width: 100%;
    }

    .passItem {
        min-height: 160px;
    }


    .formstorage{
        border: 1px solid rgba(255, 255, 255, 0);
        border-radius: 16px;
        background: rgba(255, 255, 255, 0);
        backdrop-filter: blur(15px);
    }

    .passStorageContent{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}