.cards{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
     gap:35px;
}

.card{
    display: flex;
    flex-direction: column;
    height: 100%;
    padding:40px;
    border-radius:30px;
    background:rgba(255,255,255,.05);
    border:1px solid rgba(255,255,255,.08);
    backdrop-filter:blur(18px);
    transition:.35s;
    opacity: 0;
    transform: translateY(40px);
    animation: show .8s ease forwards;
    scroll-snap-align: start;
}

.rates {
    width: 100%;
    max-width: 1200px;
    margin: 120px auto;
    padding: 40px;
    h2{
           text-align: center;
    margin-bottom: 60px; 
    }
}


.card:hover{
    transform:translateY(-10px);
    box-shadow:0 0 40px rgba(37,255,120,.15);
}

.card h3{
    font-size:28px;
    margin-bottom:15px;
}

.card p{
    color:#38ff80;
    margin-bottom:25px;
}

.card ul{
    list-style:none;
    flex-grow: 1;
}

.card li{
    padding:12px 0;
    border-bottom:1px solid rgba(255,255,255,.05);
    
}

.card button{
    width:100%;
    padding:15px;
    border:none;
    border-radius:15px;
    font-size:16px;
    font-weight:600;
    background:rgba(255, 255, 255, 0.11);
    color:white;
    transition:.3s;
    border:1px solid #00521d;
    &:hover{
        cursor: pointer;
        background: #30ff79;
        color:black;
    } 

}

.card button:hover{
    background:white;
}

@media (max-width: 768px){

    .card{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 350px;
    padding:40px;
    border-radius:30px;
    background:rgba(255,255,255,.05);
    border:1px solid rgba(255,255,255,.08);
    backdrop-filter:blur(18px);
    transition:.35s;
    opacity: 0;
    transform: translateY(40px);
    animation: show .8s ease forwards;
    scroll-snap-align: start;
    }

    .cards{
    display:flex;
    flex-direction: column;
align-items: center;
    grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
     gap:35px;
}

    

}